* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --gray-50: #F0F1F3;  
  --gray-100: #E6E8EB;
  --gray-200: #C3C7CE;
  --gray-300: #A5ACB5;
  --gray-400: #87909D;
  --gray-500: #697484;
  --gray-600: #556070;
  --gray-700: #424E60;
  --gray-800: #2B384C;
  --gray-900: #132238;
}

.esri-ui-inner-container {
  display: none !important;
}